@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
    background-image: url('/carousel_item_tres.jpg');
    background-position: 20%;
    background-size: cover;
    height: 81.5vh;
}


@media (max-width: 768px) {
    .hero-section{
        height: 50vh;
        background-position: 70%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .hero-section {
        background-position: 80%;
    }
}